@media all and (min-width: 480px) {
    .Login {
        /* padding: 60px 0; */
    }

    .Login form {
        /* margin: 0 auto; */
        max-width: 320px;
    }
}
* {
    box-sizing: border-box;
}
.Login {
    /* display: block;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: black;
    box-shadow: #9d9d9d;
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: thin;
    margin-top: 150px; */
}
.hideLogin {
    display: none;
}
.email, .password, .admin-code {
    width: 352px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D8DDE2;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 24px;
}
.loginAsAdmin {
    width: 350px;
height: 48px;
left: 544px;
top: 572px;
margin-bottom: 24px;
border: 1px solid #D8DDE2;
box-shadow: 0px 4px 10px rgba(254, 157, 54, 0.27);
border-radius: 5px;
}
.admin-icon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
.login {
    margin-bottom: 24px;
    width: 352px;
    height: 48px;
    background: #005404;
    border-radius: 5px;
}
.AdminLogin {
    background-color: #ffffff;
    border-radius: 5px;
    border-color: black;
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 10px;
    margin-top: 150px;
}
.AdminLogin :hover {
    box-shadow: #9d9d9d;
    -webkit-box-shadow: #9d9d9d;
}
.hideAdminLogin {
    display: none;
}
.admin-code-heading {
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-family: Poppins;
    display: block;
    margin-left: 30px;
    padding-top: 20px !important;
}
.admin-code-label {
    width: 200px;
    margin-left: 10px;
    margin-right: 40px;
}
.admin-code-admin-icon {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}
.column {
    float: left;
    padding: 10px;
}

.img {
    width: 30%;
    display: inline;
}

.text {
    width: 70%;
    display: inline;
    padding-right: 40px;
    text-align: left;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.loginBody {
    background-color: whitesmoke;
    height: 100vh;
}

.div-login {
    width: 476px;
    height: 487px;
    background: #FFFFFF;
    border: 1.43275px solid #D8DDE2;
    box-shadow: 0px 8.59649px 22.924px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 106px;
    padding: 29px 62px 53px 62px;
}
.login-label {
    width: 50px;
    height: 27px;
    font-family: Poppins !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding: unset;
    margin: unset;
    /* identical to box height */


color: #777E82;
}

.email, .password {
    
}
.login-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.form-heading {
    width: 100%;
    height: 42px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    margin: unset;
    padding: unset;
    margin-bottom: 44px;
    /* identical to box height */


color: #000000;
}
