
.modal-span {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
    color: #777E82;
}
.modal-p {
  font-size: 14px;

}

.btn-delete {
  width: auto !important;
  height: 30px !important;
  background: #E6582B;
  border-radius: 5px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 12px !important;
  line-height: 22px !important;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.btn-delete-svg {
  left: 0%;
  right: -0.01%;
  top: 0%;
  bottom: 0%;
}