.btn-create {
    width: 196px;
    height: 38px;
    background: #005404;
    border-radius: 5px;
    text-align: center;
    padding-top: 9px;
}
.btn-create svg {
    margin-right: 20px;
}
.btn-text{
height: 23px;
font-family: Quicksand !important;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.05em !important;

color: #FFFFFF;
}
.table-user {
    background: #FFFFFF;
    border: 1.43275px solid #D8DDE2;
    box-shadow: 0px 8.59649px 22.924px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 40px;
   
}
.admin-users {
    padding-bottom: 35px;

}
.user-search {
    width: 451px !important;
    height: 38px !important;
    background: #FFFFFF !important;
    border: 1px solid #D8DDE2 !important;
    border-radius: 5px 0px 0px 5px !important;
    padding: 9px 0px 9px 22px !important;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
._user{
    
}
.user-dropdown{
width: 286px;
height: 38px;
background: #9A9EA0;
border-radius: 5px 0px 0px 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.dropdown-toggle::after {
    
    margin-left: 2.255em;
    vertical-align: 2.255em;
    content: "";
    margin-top: 9px;
    text-align: center;
    font-size: 24px;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #FFFFFF;
}
.user-dropdown span {
    width: 65px;
    height: 20px;
    padding: 4px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em !important;
    color: #FFFFFF;
}