
.clendar-div {
 font-size: 20px;
}



.input {
  width:100% !important;
  font-size: 20px;
  color: black;
}
.group-input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D8DDE2;
    box-sizing: border-box;
    border-radius: 5px;
}
.input-label {
    font-size: 16px;
    padding-top: 8px;
    font-weight: bold;
    color: #000;


}
.input.datepicker {
    width:100% !important;
    font-size: 20px;
    color: black;
    margin-bottom: unset;
    padding: 5px 10px;
  }
  .show-header {
    display:block;
  }
  .show-v-header{
    display:none;
  }

  @media only screen and (max-width: 991px) {
    .show-header {
      display:none;
    }
    .show-v-header{
      display:block;
    }
    .booking-filter {
        margin-top: 10px;
    }
  }

.booking-filter {
    padding-left: 20px;
    padding-right: 20px;
    height: 43px;
    width: 300px;
    border-radius: 5px;
    font-family: Quicksand;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    background: #9A9EA0;
    box-shadow: 0px 4px 10px rgba(154, 158, 160, 0.27);
}
