.button-card {
    display: inline;
}
.admin-icon {
    height: 50px;
    width: 50px;
}
.dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.button-content {
    /* width: 250px;
    height: 200px;
    border-radius: 15px;
    border-color: whitesmoke;
    background-color: white;
    margin-left: 30px; */
    width: 329px;
    height: 171px;
    background: #FFFFFF;
    border: 1px solid #D8DDE2;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 60px;
}
.div-row {
    align-items: center;
}
.button-card h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
.head-div h3 {
    width: 100%;
    height: 35px;
    font-family: Quicksand !important;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    margin-top: 42px;
    margin-bottom: 20px;
    /* identical to box height */


    color: #000000;
}
.head-div{
    margin-bottom: 33px;
}