* {
    font-family: Quicksand !important;
   font-style: normal;
   letter-spacing: 0.05em;

}
input {
    font-size: 20px;
    padding-left: 10px;
}
h3 {
height: 30px;
font-weight: bold;
font-size: 24px;
line-height: 30px;
color: #000000;

}
.show-create-user{
    display: block;
}
.hide-create-user {
    display: none;
}
.show-user-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    padding-top: 20px;
}
.hide-user-list {
    display: none;
}
.view-user {
    width: 100%;
    height: 80vh;
    border-radius: 5px;
}
label {
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #777E82;
}
.column-1 {
    border-right-color: #aaaaaa;
    border-width: medium;
    padding-top: 40px;
    border-right: 1px solid #D8DDE2;
}
.col-2-heading, .tac-heading {
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    font-weight: bold;
    margin: unset;
}
.input {
    width: 70%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D8DDE2;
    box-sizing: border-box;
    border-radius: 5px;

}
.select-short, .input{
    margin-bottom: 23px;

}
.input-short {
    width: 100%;
    display: inline;
}
.input-medium {
    width: 50%;height: 40px;
    background-color: white;

    border-radius: 5px;
}
.select {
    width: 83%;

}
.select-short {
    width: 49%;

    }
    .select, .select-short {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D8DDE2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px 14px;
    font-size: 16px;
    }
.col-right {
    padding: 14px 41px;
}
.cancel-button {
    height: 38px;
    width: 130px;
    background: #E6582B;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    float: right;
    margin-right: 30px;
    border-color: red;
    margin-top: -40px;
}
.button {
    background-color: #005404;
    border-color: #005404;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    color: white;

}
.button-large.button {
    margin-top: 20px;
    font-size: 16px;
    width: 100% !important;
}
.button-small {
    width: 60%;
    align-self: flex-start;
    height: 40px;
}
.button-full, .mobile-input input {
    width: 100%;
    margin-left: 30px;
    font-size: 22px;
}
.button-delete {
    background-color: red;
    border-color: red;
}
.mobile-input {
    padding: unset;
    max-width: 53% !important;
}
.gen-pass {
}
.gen-pass.col-md-6 {
    max-width: 58.666667% !important;
}
.gen-pass .col-md-6 button {
    height: auto !important;
    padding: 6px !important;
    font-size: 16px !important;
    width: 100% !important;
}
.country-code {
   padding: unset;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.country-code {
}

.tac-heading, .tac-check {

}
.tac-text {
    margin-left: 5px;
    padding-left: 0px;
    display: inline;
}
.gen-pass-label {
    padding-left: 0px;
}
._label {
    font-size: 14px;
    line-height: 17px;
}
.table-index-1 {
    padding-left: 30px !important;
}
.table-index-2 {
    text-align: center;
}
.table-index-3 {
    padding-left: 10px !important;
}
.table-index-4 {
    text-align: center;
}
.table-index-5 {
    text-align: center;
}
.user-list {
    height: 40vh;
    overflow: auto;
}
.table-head {
    background-color: white;
}
.row {
    padding-top: 0px !important;
}
.input-medium-2 {
    width: 40%;
}
.show-user-heading {
    height: 50px;
    margin-bottom: 20px;
}
.user-name-heading-4 {
    padding-left: 20px;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.user-detail {
    line-height: 30px;
}
.change-password {
    float: right;
    height: 20px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.05em;
    color: #2BB9E6 !important;

}
.user-detail-label {
    display: inline;
}
.venue-content {
    margin-bottom: 10px !important;
    margin-left: unset !important;
}

.user-detail-container {
    width: 99%;
}
.label-1 {
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.span-ph-num {

}
.label-simple {
    padding-left: 0px;
}
.icon {
    font-size: 24px;
    color: black;
    float: right;
}
.button-med-2 {
    width: 70%;
    margin-top: 30px;
}
.edit-profile-heading {

}
.user-detail-label.label-1 {
    padding-left: 10px !important;
    font-size: 16px !important;
}
.btn-back {
    width: 102px;
    height: 38px;
    background: #005404;
    border-radius: 5px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}
.btn-back-svg {
    margin-left: 8.59%;
    margin-right: 8.59%;
}
.btn-delete {
    width: 149px;
    height: 38px;
    background: #E6582B;
    border-radius: 5px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.btn-delete-svg {
    left: 0%;
    right: -0.01%;
    top: 0%;
    bottom: 0%;
}
.div-reset-password {
    width: 476px;
    height: 460px;
    background: #FFFFFF;
    border: 1.43275px solid #D8DDE2;
    box-shadow: 0px 8.59649px 22.924px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 60px;
    padding: 29px 62px 53px 62px;
}
.form-heading-rp{
    width: 100%;
    height: 42px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    margin: unset;
    padding: unset;
}
/*.heading-reset-password {*/
/*    margin-bottom: 44px !important;*/
/*}*/
.cancel-button-rp{
    margin-bottom: 44px;
    float: right;
    margin-right: 1px;
}
