body {
    background: #f8f8f8 !important;
  }
  .ant-table-pagination.ant-pagination {
    float: left !important;
    margin: 16px 0;
}
.ant-pagination-item-active {
    width: 38px !important;
    height: 38px !important;
    border: 1px solid #D8DDE2 !important;
    box-sizing: border-box !important;
    border-radius: 17px !important;  
    border-color: #1890ff !important;
}

.ant-pagination-item {
    min-width: 38px !important;
    height: 38px !important;
    border-radius: 17px !important;  

}