body {
    background: #f8f8f8 !important;
  }
  .ant-table-pagination.ant-pagination {
    float: left !important;
    margin: 16px 0;
}
/* .ant-pagination-item-active {
    width: 38px !important;
    height: 38px !important;
    border: 1px solid #D8DDE2 !important;
    box-sizing: border-box !important;
    border-radius: 17px !important;
    border-color: #1890ff !important;
}

.ant-pagination-item {
    min-width: 38px !important;
    height: 38px !important;
    border-radius: 17px !important;

} */

.ant-table-tbody > tr > td {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 16px 16px 30px !important;
    color: #000;
}

.ant-table-thead > tr > th {
    padding:30px 30px !important;
    font-size: 16px;
    line-height: 20px;
    color: #8c9295 !important;

}
.ant-input-lg, .ant-time-picker-input {
    height: 48px !important;
}
.fc-toolbar {
    flex-wrap: wrap;
}
.fc-button-group {
    margin-bottom: 1rem;
}
.navbar-light .navbar-nav .nav-link {
    font-family: Quicksand !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #050505;
}
