@media (min-width: 992px){}
.navbar-expand-lg {
    width: 100%;
}
.nav-all {

    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.08);
}
.nav-logo {

    width: 70px;
    height: 44px;
    left: 31px;
    top: 18px;

    /* background-image: url(); */
}
.brand-name {
    font-family: Quicksand !important;
    font-style: normal;
    font-weight: 300 !important;
    font-size: 20px !important;
    line-height: 25px !important;
    /* identical to box height */
    color: #2b2526 !important;

}

.show-logout {
    width: 110px;
    height: 28px;
    background: #9A9EA0;
    box-shadow: 0px 4px 10px rgba(154, 158, 160, 0.27);
    border-radius: 8px;
    float: right ;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.05em;

    color: #FFFFFF;
    margin-right: 30px;
}

.hide-logout {
    display: none;
}

.nav-bar {
    width: inherit;
}

.nav-heading {
    padding-top: 10px;
}
.brand-name:hover {
color: #005404 !important;
}

